.square {
  color: #222b33;
  user-select: none;
  transition: all 0.25s;
}

.squares {
  animation-name: slidein;
  animation-duration: 1s;
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 125px;
  height: 125px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: crosshair;
  font-size: 2rem;
}

@keyframes slidein {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.square-selected {
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #a2dbfa;
  color: white;
  user-select: none;
  transform: rotateY(180deg) scaleX(-1);
}

.square-flipped {
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #78dec7;
  color: white;
  user-select: none;
  transform: rotateY(180deg) scaleX(-1);
}

@media (max-width: 785px) {
  .squares {
    width: 95%;
    height: 100%;
    font-size: 1.5rem;
  }
}
